#backend
fastapi
uvicorn
pydantic
pydantic-settings
#banco-de-dados
sqlalchemy
asyncpg
psycopg[binary]
alembic
#cache
redis
celery
#scrapping
httpx
beautifulsoup4
lxml
newspaper3k
#selenium #caso necessario
#nlp
spacy
transformers
torch
scikit-learn
#python -m spacy download pt_core_news_sm
#grafos
networkx
pyvis
#dashboards
pandas
numpy
#pdf
reportlab
jinja2
#segurança
python-jose[cryptography]
passlib[bcrypt]
bcrypt
#logs
structlog
rich
#config
python-dotenv
tenacity
#testes
pytest
pytest-asyncio
httpx
coverage
#segurança de codigo
bandit
safety
